:root {
  --background: #ffffff;
  --foreground: #000000;
  // --active: #ff90bc;
  // --active-dark: #fd4790;
  // --active-light: #fdb5d2;
}
body {
  background-color: var(--background);
  color: var(--foreground);
}