input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  @apply w-full outline-outline outline-4 transition border rounded-md;
}
:root {
  --background: #ebebeb;
  --foreground: #0a0a0a;
  --main: #ffffff;
  --outline: #2a85ff;
  --danger: #ff0000;
  --color-table: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  accent-color: var(--outline);
  border: 1px solid var(--outline);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

.my-table {
  .my-columns {
    > div {
      border-bottom: 1px solid var(--color-table);
    }
    &:nth-child(1) {
      font-weight: bold;
    }
    &:last-of-type {
      > div {
        border-bottom: none;
      }
    }
  }
}

/* Thanh cuộn ngang và dọc */
::-webkit-scrollbar {
  width: 10px; /* Độ rộng thanh cuộn dọc */
  height: 10px; /* Độ cao thanh cuộn ngang */
}

/* Đường dẫn cuộn (background của thanh cuộn) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền track */
  border-radius: 1rem; /* Bo góc */
}

/* Thanh cuộn chính */
::-webkit-scrollbar-thumb {
  background: #888; /* Màu của thanh cuộn */
  border-radius: 1rem; /* Bo góc */
}

/* Hover vào thanh cuộn */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Đổi màu khi hover */
}

/* Thanh cuộn khi disabled hoặc không hoạt động */
::-webkit-scrollbar-thumb:disabled {
  background: #ccc; /* Màu khi không hoạt động */
}

.menu-sidebar {
  .menu-sub {
    li{
      padding-left: 32px;
    }
    overflow: hidden;
    max-height: 0;
    transition: all 150ms ease-in-out;
  }
  &:has(input:checked) {
    label {
      span+svg {
        transform: rotate(180deg);
      }
    }
    .menu-sub {
      max-height: 500px;
    }
  }
}

.permission-field {
  label {
    display: block;
    text-align: center;
    padding: 4px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    &:hover {
      background: #9cccf8;
    }
  }
  tr {
    td:nth-child(1) {
      label {
        text-align: left;
      }
    }
  }
}

.fill-neutral {
  stroke: white;
  fill: white;
}
